.copy-right-footer
{
  position: fixed;
  width:100%;
  color:aqua;
  background-color:grey;
  bottom:0;
  line-height:3;
  text-align:center;
  

}


.canvas
{
    border:5px solid pink;
    border-radius:50px;
    box-shadow:black;



}